In [1]:
import pandas as pd
import numpy as np
import pymysql
from sqlalchemy import create_engine
from sqlalchemy import text
import getpass
password = getpass.getpass()

 ········

In [2]:
sd = "sakila"
connection_string = "mysql+pymysql://root:" + password + "@localhost/"+sd
engine = create_engine(connection_string)
engine

Engine(mysql+pymysql://root:***@localhost/sakila)

In [7]:
def rentals_month(engine, year, month):
    connection = engine.connect()
    txt = f'''select year(rental_date) as 'Year', month(rental_date) as 'Month', rental_id, customer_id
    from rental
    where year(rental_date) = {year} and month(rental_date) = {month};'''
    query = text(txt)
    result = connection.execute(query)
    return pd.DataFrame(result.all())

In [8]:
rentals_month(engine, 2005, 5 )

      Year  Month  rental_id  customer_id
0     2005      5          1          130
1     2005      5          2          459
2     2005      5          3          408
3     2005      5          4          333
4     2005      5          5          222
...    ...    ...        ...          ...
1151  2005      5       1153          506
1152  2005      5       1154           59
1153  2005      5       1155          251
1154  2005      5       1156          106
1155  2005      5       1157           61

[1156 rows x 4 columns]